
.country-navbar-container{
    display: flex;
    list-style-type: none;
    margin-top: 20px;
    margin-right: 20px;
    padding: 0;
    margin: 10px;
    width: 100%;
    background-color: rgb(58, 58, 58);
    border-radius: 5px 5px 5px 5px;
    justify-content: space-around;
}

.country-navbar-container a{
    padding: 12px;
    font-size: 20px;
    cursor: pointer;
}

.country-navbar-container a:hover{
    background-color: rgb(122, 122, 122);
}

.country-navbar-container a{
    text-decoration: none;
    color: white;
}