
.news-category-nav-container{
    display: flex;
    list-style-type: none;
    padding: 0;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    width: 100%;
    background-color: white;
    border-radius: 0px 0px 5px 5px;
    box-shadow: 0px 9px 14px -4px rgba(0,0,0,0.75);
    justify-content: space-around;
}

.news-category-nav-container a{
    text-decoration: none;
    color: black;
    padding: 12px;
    font-size: 20px;
    cursor: pointer;
}

.news-category-nav-container a:hover{
    color: #2874F0;
}