.app-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  padding-left: 100px;
  padding-right: 100px;
}

.btn-time-container{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#reload-btn{
  background-color: green;
}

#reload-btn:hover{
  background-color: springgreen;
}

#exit-btn{
  background-color: red;
}

#exit-btn:hover{
  background-color: rgb(235, 104, 104);
}

.btn{
  color: white;
  font-size: 25px;
  border-radius: 5px 5px 5px 5px;
  border: none;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.btn:focus{
  outline: none;
}

.time-date-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-content-container{
  display: flex;
}

.navbar-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.category-newscard-container{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#load-more-btn{
  color: white;
  background-color: #2874F0;
  font-size: 25px;
  border-radius: 5px 5px 5px 5px;
  border: none;
  margin-top: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

@media screen and (max-width: 700px){
  .btn-time-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
  }

  .time-date-container{
    text-align: center;
    display: block;
  }
}